* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #3f3f3f;
}

.sidebar-pos {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-img {
    text-align: center;
}

.sidebar-img img {
    width: 70%;
    border-radius: 50%;
    border: 6px solid #a51a0b;
}

.sidebar-menu {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: .15rem;
}

.sidebar-menu a {
    color: whitesmoke;
    font-size: 19px;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    opacity: .4;
}

.sidebar-menu a.selected {
    opacity: 1;
}